* {
    margin: 0;
    color: #fff;

}

body {
    background-color: #3C4C59;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header{
    text-align: center;
    margin: .25rem;
}
header img{
    height: 7rem;
}
 /*main*/
main {
    width:960px;
    margin: 0 auto;
}
section{
    border: 1px solid #D3D923
;
}
#bio {
    display: flex;
}

.bio-info {
    width: 100%;
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio-image {
    height: 185px;
}

.nameDate {
    display: flex;
    justify-content: space-between;
}

.blueTextFormat {
    font-size: 1.3rem;
    color: #b0b0ee
}

.grayBox {
    background-color: gray;
    padding: .5rem;
}

h4 {
    margin-bottom: .75rem;
}

ul {
    padding-left: 12px;
}

#tech {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

#tech img {
    height: 160px;
}

figcaption {
    text-align: center;
}

#learn {
    height: 200px;
}
/*footer*/
 footer {
    text-align: center;
 }
